In [188]:
import pandas as pd

In [234]:
spend = pd.read_csv('data/campaign_spend.csv')
google = pd.read_csv('data/google_age.csv')
facebook = pd.read_csv('data/facebook_age.csv')

In [235]:
facebook.insert(2, "platform", "facebook")
google.insert(2, "platform", "google")

In [236]:
spend.head()

        Date  CampaignID      CampaignName AgeRange   Cost
0  04-Aug-21   100218918  Campaign2_google    55-64   3.79
1  11-Aug-21   100218917  Campaign1_google    55-64   7.36
2  03-Aug-21   100218917  Campaign1_google    55-64  20.08
3  14-Aug-21   100218917  Campaign1_google    55-64   9.64
4  12-Aug-21   100218917  Campaign1_google    55-64  11.67

In [237]:
# spend['platform'] = 
spend[['campaign_name','platform_name']] = spend['CampaignName'].str.split('_',expand=True)
spend = spend.drop(['CampaignName'],axis=1)

In [238]:
rep= {
"AGE_RANGE_18_24":"18-24",
"AGE_RANGE_25_34":"25-34",
"AGE_RANGE_35_44":"35-44",
"AGE_RANGE_45_54":"45-54",
"AGE_RANGE_55_64":"55-64",
"AGE_RANGE_65_UP":"65+"
}

spend.replace(rep,inplace=True)

In [239]:
#Clean google data set 
google.dropna()

,date,campaign_id,platform,Campaign_name,age_group,impressions,clicks
0,04-Aug-21,100218918,google,Campaign2,55-64,154,2
1,11-Aug-21,100218917,google,Campaign1,55-64,133,0
2,03-Aug-21,100218917,google,Campaign1,55-64,60,1
3,14-Aug-21,100218917,google,Campaign1,55-64,184,39
4,12-Aug-21,100218917,google,Campaign1,55-64,219,7
...,...,...,...,...,...,...,...
145,08-Jul-21,100218918,google,Campaign2,25-34,95,16
146,13-Jul-21,100218918,google,Campaign2,18-24,178,7
147,07-Jul-21,100218918,google,Campaign2,18-24,200,25
148,11-Jul-21,100218917,google,Campaign1,18-24,165,7
149,20-Jul-21,100218917,google,Campaign1,25-34,112,9

In [240]:
google.count()

date             150
campaign_id      150
platform         150
Campaign_name    150
age_group        148
impressions      149
clicks           150
dtype: int64

In [241]:
google.dropna(inplace=True)

In [242]:
google.age_group.unique()

array(['55-64', '25-34', '65+', '18-24', '35-44', '45-54'], dtype=object)

In [243]:
facebook.count()

date             150
campaign_id      150
platform         150
campaign_name    148
age              150
impressions      150
clicks           148
dtype: int64

In [244]:
facebook.dropna(inplace=True)

In [245]:
facebook.count()

date             147
campaign_id      147
platform         147
campaign_name    147
age              147
impressions      147
clicks           147
dtype: int64

In [246]:
facebook.replace(rep,inplace=True)

In [247]:
facebook.columns,google.columns

(Index(['date', 'campaign_id', 'platform', 'campaign_name', 'age',
        'impressions', 'clicks'],
       dtype='object'),
 Index(['date', 'campaign_id', 'platform', 'Campaign_name', 'age_group',
        'impressions', 'clicks'],
       dtype='object'))

In [248]:
google.rename(columns={'Campaign_name':'campaign_name','age_group':'age'},inplace=True)

In [249]:
platform = pd.concat([facebook,google])

In [250]:
platform.dropna()

          date  campaign_id  platform campaign_name    age impressions  clicks
0    04-Aug-21    100218918  facebook     Campaign2  25-34         158    14.0
1    11-Aug-21    100218917  facebook     Campaign1  55-64         163     7.0
2    03-Aug-21    100218917  facebook     Campaign1  25-34         126     9.0
3    14-Aug-21    100218917  facebook     Campaign1  18-24         753    10.0
4    12-Aug-21    100218917  facebook     Campaign1  25-34         125    11.0
..         ...          ...       ...           ...    ...         ...     ...
145  08-Jul-21    100218918    google     Campaign2  25-34          95    16.0
146  13-Jul-21    100218918    google     Campaign2  18-24         178     7.0
147  07-Jul-21    100218918    google     Campaign2  18-24         200    25.0
148  11-Jul-21    100218917    google     Campaign1  18-24         165     7.0
149  20-Jul-21    100218917    google     Campaign1  25-34         112     9.0

[294 rows x 7 columns]

In [251]:
spend

          Date  CampaignID AgeRange    Cost campaign_name platform_name
0    04-Aug-21   100218918    55-64    3.79     Campaign2        google
1    11-Aug-21   100218917    55-64    7.36     Campaign1        google
2    03-Aug-21   100218917    55-64   20.08     Campaign1        google
3    14-Aug-21   100218917    55-64    9.64     Campaign1        google
4    12-Aug-21   100218917    55-64   11.67     Campaign1        google
..         ...         ...      ...     ...           ...           ...
295  08-Jul-21   100218918    25-34   $3.00     Campaign2      facebook
296  13-Jul-21   100218918    45-54   $5.50     Campaign2      facebook
297  07-Jul-21   100218918      65+   $1.20     Campaign2      facebook
298  11-Jul-21   100218917    18-24   $7.00     Campaign1      facebook
299  20-Jul-21   100218917    35-44  $14.07     Campaign1      facebook

[300 rows x 6 columns]

In [252]:
spend.columns,platform.columns

(Index(['Date', 'CampaignID', 'AgeRange', 'Cost', 'campaign_name',
        'platform_name'],
       dtype='object'),
 Index(['date', 'campaign_id', 'platform', 'campaign_name', 'age',
        'impressions', 'clicks'],
       dtype='object'))

In [253]:
spend.rename(columns={'Date':'date','CampaignID':'campaign_id','AgeRange':'age','platform_name':'platform'},inplace=True)

In [254]:
spend.dropna(inplace=True)

In [255]:
spend.age.unique()

array(['55-64', '25-34', '65+', '18-24', '35-44', '45-54',
       'AGE_RANGE_UNDETERMINED'], dtype=object)

In [256]:
spend = spend[spend.age != 'AGE_RANGE_UNDETERMINED']

In [257]:
spend.count(),platform.count()

(date             297
 campaign_id      297
 age              297
 Cost             297
 campaign_name    297
 platform         297
 dtype: int64,
 date             294
 campaign_id      294
 platform         294
 campaign_name    294
 age              294
 impressions      294
 clicks           294
 dtype: int64)

In [258]:
platform = platform[platform.age != 'AGE_RANGE_UNDETERMINED']

In [259]:
spend.drop_duplicates(),platform.drop_duplicates()

(          date  campaign_id    age    Cost campaign_name  platform
 0    04-Aug-21    100218918  55-64    3.79     Campaign2    google
 1    11-Aug-21    100218917  55-64    7.36     Campaign1    google
 2    03-Aug-21    100218917  55-64   20.08     Campaign1    google
 3    14-Aug-21    100218917  55-64    9.64     Campaign1    google
 4    12-Aug-21    100218917  55-64   11.67     Campaign1    google
 ..         ...          ...    ...     ...           ...       ...
 295  08-Jul-21    100218918  25-34   $3.00     Campaign2  facebook
 296  13-Jul-21    100218918  45-54   $5.50     Campaign2  facebook
 297  07-Jul-21    100218918    65+   $1.20     Campaign2  facebook
 298  11-Jul-21    100218917  18-24   $7.00     Campaign1  facebook
 299  20-Jul-21    100218917  35-44  $14.07     Campaign1  facebook

 [297 rows x 6 columns],
           date  campaign_id  platform campaign_name    age impressions  clicks
 0    04-Aug-21    100218918  facebook     Campaign2  25-34         158    14.0
 1    11-Aug-21    100218917  facebook     Campaign1  55-64         163     7.0
 2    03-Aug-21    100218917  facebook     Campaign1  25-34         126     9.0
 3    14-Aug-21    100218917  facebook     Campaign1  18-24         753    10.0
 4    12-Aug-21    100218917  facebook     Campaign1  25-34         125    11.0
 ..         ...          ...       ...           ...    ...         ...     ...
 145  08-Jul-21    100218918    google     Campaign2  25-34          95    16.0
 146  13-Jul-21    100218918    google     Campaign2  18-24         178     7.0
 147  07-Jul-21    100218918    google     Campaign2  18-24         200    25.0
 148  11-Jul-21    100218917    google     Campaign1  18-24         165     7.0
 149  20-Jul-21    100218917    google     Campaign1  25-34         112     9.0

 [293 rows x 7 columns])

In [260]:
spend.nunique(),platform.nunique()

(date             107
 campaign_id        2
 age                6
 Cost             283
 campaign_name      2
 platform           2
 dtype: int64,
 date             107
 campaign_id        2
 platform           2
 campaign_name      2
 age                6
 impressions      187
 clicks            51
 dtype: int64)

In [261]:
spend.dtypes,platform.dtypes

(date             object
 campaign_id       int64
 age              object
 Cost             object
 campaign_name    object
 platform         object
 dtype: object,
 date              object
 campaign_id        int64
 platform          object
 campaign_name     object
 age               object
 impressions       object
 clicks           float64
 dtype: object)

In [326]:
j= ['date','campaign_id', 'platform', 'campaign_name', 'age']
final_data = pd.merge(spend,platform, how="outer", on=j)

In [327]:
final_data.drop_duplicates

<bound method DataFrame.drop_duplicates of           date  campaign_id    age    Cost campaign_name  platform  \
0    04-Aug-21    100218918  55-64    3.79     Campaign2    google
1    11-Aug-21    100218917  55-64    7.36     Campaign1    google
2    03-Aug-21    100218917  55-64   20.08     Campaign1    google
3    14-Aug-21    100218917  55-64    9.64     Campaign1    google
4    12-Aug-21    100218917  55-64   11.67     Campaign1    google
..         ...          ...    ...     ...           ...       ...
308  09-Jul-21    100218918  18-24   $3.50     Campaign2  facebook
309  13-Jul-21    100218918  45-54   $5.50     Campaign2  facebook
310  07-Jul-21    100218918    65+   $1.20     Campaign2  facebook
311  11-Jul-21    100218917  18-24   $7.00     Campaign1  facebook
312  20-Jul-21    100218917  35-44  $14.07     Campaign1  facebook

    impressions  clicks
0           154     2.0
1           133     0.0
2            60     1.0
3           184    39.0
4           219     7.0
..          ...     ...
308         121     7.0
309         154    16.0
310         133    98.0
311          60    40.0
312         184    11.0

[313 rows x 8 columns]>

In [332]:
final_data['Cost'] = final_data['Cost'].str.replace(',', '').str.replace('$', '')
final_data.replace(',','', regex=True, inplace=True)
# final_data['clicks'] = final_data['clicks'].str.replace(',', '').astype(int)
# final_data['impressions'] = final_data['impressions'].str.replace(',', '').astype(int)

/var/folders/d8/qtl1395d2898hys1hbkj3tc80000gn/T/ipykernel_1475/663243060.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  final_data['Cost'] = final_data['Cost'].str.replace(',', '').str.replace('$', '')

In [321]:
final_data.to_csv('cleaned_dataset/clean_campaign_data.csv',header=True)

Which Campaign gained the highest clicks?

In [302]:
c1 = final_data[final_data.campaign_name == 'Campaign1']
c2 = final_data[final_data.campaign_name == 'Campaign2']

In [303]:
cs1 = c1.clicks.sum()
cs2 = c2.clicks.sum()
if cs1 > cs2:
    print(f'Campaign 1 gains the highest number of clicks with :{cs1}')
else:
    print(f'Campaign 2 gains the highest number of clicks with :{cs2}')

Campaign 1 gains the highest number of clicks with :2819.0

Which platform cost the most?

In [306]:
p1 = final_data[final_data.platform == 'google']
p2 = final_data[final_data.platform == 'facebook']

In [313]:
p1.Cost.sum()

'3.797.3620.089.6411.6742.679.6510.6446.58.9610.5344.696.2910.8149.7912.6252.586.5211.1554.282.6710.8345.815.91.7710.9754.715.482.0311.0554.894.7410.8750.35.4210.6451.034.0611.2850.354.1612.4251.231.380.619.429.421.521.5236.85.082.2211.9750.293.383.382.332.333.872.992.992.172.173.531.1144.411.024.914.872.795.543.533.591.395.792.843.733.482.441.194.812.17.244.392.73.63.70.113.464.020.432.151.023.110.972.462.351.971.625.223.834.053.124.153.873.664.724.181.456.683.157.272.597.2439.552.3418.36.478.3739.621.560.31.681.159.0445.322.441.487.929.0346.757.0647.331.4741.832.010.812.641.173.744.672.816.675.377.024.229.874.44.13.963.871.971.02'

In [317]:
p2.Cost.sum()

2805.0

In [320]:
final_data.clicks

0       2.0
1       0.0
2       1.0
3      39.0
4       7.0
       ...
308     7.0
309    16.0
310    98.0
311    40.0
312    11.0
Name: clicks, Length: 313, dtype: float64